//- sentence header with proper color tags
mixin header(result)
	div.sentence-header
		span.sentence-id= result._sentenceId + '-' + result._tmrIndex
		|&#32;
		each sentence in result.sentences
			each word in sentence.words
				-
					var colorAttr = {};
					if (word.colors.length == 1) colorAttr["data-entity-color"] = word.colors[0];
					else if (word.colors.length > 1) colorAttr["class"] = "multi-color";
				span.sentence-string&attributes(colorAttr)= word._token
					if word.colors.length > 1
						each color in word.colors
							span.sentence-string.asterisk(data-entity-color=color) *
				| #{word._spacing}
			| #{sentence._punct}
		if result._totalPref || result._totalConf
			span.scorebox
				if result._totalPref
					span.score
						span PREF
						span &#160;=&#160;
						span= result._totalPref
				if result._totalConf
					span.score
						span CONF
						span &#160;=&#160;
						span= result._totalConf
		span.submit-gold(data-json=result._dataJSON, data-dict=result._dataDict) Gold
		span.sentence-minimize Hide

//- framed content below header for each entity
mixin entity(frame)
	table.tmr.col-sm-4.col-xs-6.col-12
		thead.frame-header(data-entity-color=frame._color)
			tr: td(colspan=2)
				span.key= frame._key
				span.runner
				if frame._pref || frame._semPref
					span.scorebox
						if frame._pref
							span.score
								span PREF
								span &#160;=&#160;
								span= frame._pref
						if frame._semPref
							span.score
								span SEM-PREF
								span &#160;=&#160;
								span= frame._semPref
		tbody
			each attrType in Object.keys(frame.attributes)
				each attr, attrKey in frame.attributes[attrType]
					tr.kv-pair(class=attrType)
						if attr.constraintInfo
							td.key(toggles-for=attrKey)= attrKey
								sup C
						else
							td.key= attrKey
						if attr._lex
							td.val.lex(data-entity-color=attr._color)= attr._val
								include ./lex.pug
						else
							td.val(data-entity-color=attr._color)= attr._val
					if attr.constraintInfo
						each cVal, cKey in attr.constraintInfo
							tr.kv-pair.constraint-info(class=attrType, constrains=attrKey)
								td.key= cKey
								td.val= cVal

section.sentence.col-12.container.gutters-sm-all(data-sentence-id=result._sentenceId)
	+header(result)
	div.sentence-body.container.gutters-lg-all
		each frame in result.frames
			+entity(frame)
